html {
    scroll-behavior: smooth;
}

.lc-1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.lc-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.lc-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.lc-4 {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.breadcrumb-area{
    background-size: cover;
    background-position: center;
    position: relative;
}
.breadcrumb-area .b-overlay{
    padding-top: 6rem;
    padding-bottom: 2rem;
    background-color: rgba(4, 8, 14, 0.7);
    top: 0;
}
.breadcrumb-area .b-overlay li, .breadcrumb-area .b-overlay li::before {
    color: white;
}
.breadcrumb-area .b-overlay h5{
    color: white;
    font-size: 1.5rem;
}
